/* @media only screen and (min-device-width: 769px) and (max-device-width: 991px){
	.custome-btn {margin: 0 5px;min-width: 43px;width: 136px;}
	
	
} */
@media (max-width: 1200px){
	.col-height{ float:left}
	.highcharts-container{ width:100%!important;}
	.card {height: 350px;}
	.custome-btn {margin: 0 5px;min-width: 43px;width: 131px;}
	
}
@media (max-width: 1024px){
	.cardouter .card{ height:auto; display:inline-block; height:400px!important;}
	.card .card-panel{ border: 0 none;display: inline-block;padding: 15px 16px;text-align: center;width: 100%;}
	.card-panel p {margin-bottom: 15px;}
	.custome-btn {margin: 0 15px;}
	.custome-btn {margin: 0 5px;min-width: 43px;width: 136px;}
}
@media (max-width: 980px){
	.col-height { margin:10px 0;}
	.bottom-card{ height:auto!important;}
	.title h4{font-size: 19px;}
	.search-bar {padding: 15px 10px;}
	.landing-content a {float: left;width: 25%;}
	.landing-content .landing-sec::after{ background:none;}
	.landing-content .landing-sec {margin-bottom: 30%;margin-top: 30%;position: static;}
	.back-div .landing-bg{ display:none;}
	div.landing-content {position: absolute;}
	
	.cardouter .card{ height:auto; display:inline-block; height:400px!important;}
	.card .card-panel{ border: 0 none;display: inline-block;padding: 15px 16px;text-align: center;width: 100%;}
}
@media (min-width: 768px){
 .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span{
     top: auto;
     margin-left: 0;
  padding: 0;
 }
 .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
     top: 0;
 }
 .sidebar-menu>li{
     margin: 0 0 1px;
 }
}
@media (max-width: 767px){
	.sidebar-toggle {display: block;}
	.sidebar {padding-top: 40px;}
	.card{ height:auto; display:inline-block;}
	.card .card-panel{ border: 0 none;display: inline-block;padding: 15px 16px;text-align: center;width: 100%;}
}
@media (max-width:700px){
	.dataTables_filter label input {float: right;margin-left: 20px;width: auto;}
	.table-responsive{ border:0;}
}
@media (max-width: 694px){
	.card-sec{ text-align:center; margin-left:-15px; margin-right:-15px;}
	.card-panel strong{ font-size:18px;}
	.card-panel p {margin-bottom: 5px;}
	.card-bottom{margin-left:-15px; margin-right:-15px;}
	.phy-infra-page {margin: 90px -15px;}
	h2.phy-hdr {margin: 0 0 10px;}
	#map-canvas {height: 219px!important;}
	.sidebar-open .sidebar-menu .treeview-menu > li {overflow-wrap: break-word;white-space: normal;}
}
@media (max-width: 640px){
	.search-bar {padding: 15px 10px;}
	.title {text-align: center;width: 100%;}
	.title h4 {font-size: 19px;}
	.sidebar-toggle {bottom: 0;position: absolute;}
	.sidebar {padding-top: 40%;}
	.landing-content a {width: 50%;}
	.landing-content .container{ margin-top:30px;}
	.landing-content .landing-sec{ margin:5px auto;}
	.search-bar .search-sec {width: 100%;}
	.search-panel .pull-left{ margin: 3px 0;width: 100%;}
	.label-txt label {margin-top: 0;}
	.title h4 { margin:0;}
	.title h6 {margin-bottom: 0;}
	.search-panel .date, .search-panel #dateIp input{width: 100%; }
	.main-sidebar, .left-side {padding-top: 130px;}
	.search-bar .search-sec {margin: 0;}
}
@media (max-width: 480px){
	.from-content {
    	padding: 25px 20px;
	}
	.from-sec input {
    	font-size: 18px;
	}
	.form-main { 
    	padding: 0 10px;
	}
	/* .landing-content a {width: 100%;} */
	.x_panel{margin: 20px -15px;padding: 0 5px;}
	.x_title h2{font-size: 25px;}
	.dataTables_filter {float: right;width: 100%;}
	.navbar-custom-menu .user-menu .dropdown-menu{width:55%!important;}
}
@media (max-width: 439px){
	.cardouter .card-panel{ border:0; display:inline-block; width:100%; text-align: center; padding: 5px 16px;}
	.card-panel:last-child{width:100%;}
	ul.pagination > li > a, .pagination > li > span{padding: 6px;}
	.btn-group, .btn-group-vertical{display: inline-block;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);
-o-transform: translateX(-50%);-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);margin-bottom:5px;}
}
@media (max-width: 360px){
	div.landing-content a{padding: 0 6px;}
	div.landing-content div.landing-sec{height: 140px;width: 140px;}
	
}