body, html{
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.back-div{ position:relative; }


.landing-sec h4{ margin-bottom:0; color:#000; font-size: 20px;}
.landing-sec p{ color:#4D5366;}
.swims h4{color: #11a8e1;font-weight: 600;}
.landing-bg {
	background-attachment: fixed;
    background-image: url("../images/landing-bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index:-1;
}
.landing-content {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	/*z-index: 999;*/
}
/*.landing-sec::before {
	border: 1px dashed #fff;
	content: "";
	height: 100%;
	position: absolute;
	top: 100%;
	z-index: -1;
}*/
.landing-sec::after {
	/* border: 1px dashed #000; */
	background:url("../images/doted-line.png") repeat-y scroll 0 0;
    content: "";
    height: 500%;
    position: absolute;
    top: 100%;
    width: 1px;
    left: 50%;
    z-index: -1;
}
.landing-sec{
	background: #fff;
    border: 1px dashed #000;
    border-radius: 50%;
    height: 146px;
    width: 146px; 
    padding: 10px 15px;
    position: absolute;
    text-align: center;
}
.landing-sec.amrut{
	left: 10%;
    top: 40%;
}
.landing-sec.swims{
	left: 22%;
    top: 15%;
}
.landing-sec.ulb{
	left: 33%;
    top: 45%;
}
.landing-sec.city{
	left: 41%;
    top: 20%;
}
.landing-sec.nulm{
	left: 49%;
    top: 45%;
}
.landing-sec.rev{
	left: 58%;
    top: 25%;
}
.landing-sec.cm-pri{
	left: 67.5%;
    top: 5%;
}
.landing-sec.pmay{
	left: 77.5%;
    top: 27%;
}

/*.landing-content .landing-sec:nth-child(odd){ top: 50%; } 
.landing-content .landing-sec:nth-child(odd):after{ height: 42vh;} */
.landing-sec img {
	margin: 0 auto;
}
.amrut img{ margin-top:25px;}
.landing-content a:hover, .landing-content a:focus{ text-decoration: none;}