.black-btn{margin: 20px;margin-bottom: 0;}
.black-btn a {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    vertical-align: middle;
    padding:10px;
    border-radius: 4px; 
    text-decoration:none;
}
.black-btn a, .black-btn a:active{background: #313131; color:#FFF;}
.black-btn a::before {
    background: #DB291C none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition-duration: 0.3s;
    transition-property: left, right;
    transition-timing-function: ease-out;
    z-index: -1;
}
.black-btn a:hover::before, .black-btn a:focus::before, .black-btn a:active::before {
    left: 0;
    right: 0;	
}