/*--------------------------GENERAL CSS----------------------*/
body {
	font-family: 'Roboto', sans-serif !important;
}
.clearfix:before, .clearfix:after {
	content: " ";
 display:table;

}
.clearfix:after {
	clear: both;
}
.container {
	max-width: 1200px;
	width: 100%;
}
.backnone{ background:none;}
.bordernone{ border:none;}
.card-sec .backnone{ background:none;}
.card-sec .bordernone{ border:none;}
.back-img{ background:url(../images/login-bg.jpg) no-repeat; background-attachment:fixed; background-size:cover;}
.marginnone{ margin:0;}
.margbot-20{ margin-bottom:20px;}
/*--------------------------GENERAL CSS----------------------*/

/*--------------------------MAIN CSS----------------------*/
.fullscreen_bg {
	background-attachment: fixed;
	background-image: url("../images/login-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.form-signin {
	position:absolute; width:100%; height:100%; left:0;
}
.form-main {
    left: 50%;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
 	-ms-transform: translateY(-50%) translateX(-50%);
 	-o-transform: translateY(-50%) translateX(-50%);
 	-webkit-transform: translateY(-50%) translateX(-50%);
 	transform: translateY(-50%) translateX(-50%);  
    width:100%;
}
.from-content {
	background: #8ed2ec none repeat scroll 0 0;
    border: 1px solid #b2e4f8;
    border-radius: 10px;
    box-shadow: -7px 7px 8px -1px #afafaf;
    margin: 22px auto 0;
    max-width: 400px;
    padding: 30px;
    width: 100%;
}
.form-signin img.logo {
	margin: 0 auto;
}
.from-sec {
	border: 1px solid #00a1de;
	border-radius: 10px;
	display: block;
	padding: 12px;
	margin-bottom: 18px;
}
.from-sec:nth-child(2) {
	margin-bottom: 10px;
}
.from-sec span {
	width: 13%;
	border-right: 1px solid #00a1de;
	float: left;
	padding-right: 15px;
	padding-left: 5px;
}
.from-sec input {
	border: 0 none;
    box-shadow: none;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    font-weight: 400;
    height: auto;
    letter-spacing: 1px;
    padding: 0;
    background:none;
    position: relative;
    /* text-transform: capitalize; */
    width: 100%;
}
.user-from-sec{ background: #fff url("../images/user-icon.png") no-repeat scroll 5% 50% / 54px auto;padding-left: 90px; }
.pass-from-sec{ background: #fff url("../images/pass-icon.png") no-repeat scroll 5% 50% / 54px auto;padding-left: 90px; }
.from-sec input:focus, .from-sec input:active {
	border: 0 none;
	box-shadow: none;
}
.from-content button {
	background-color: #00a1de;
    border: 1px solid #0093ca;
    border-radius: 10px;
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    min-height: 50px;
    position: relative;
    text-transform: uppercase;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
}
.from-content button::before {
	background: #0094cc none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0);
	transition-duration: 0.3s;
	transition-property: transform;
	transition-timing-function: ease-out;
	z-index: -1;
	border-radius: 10px;
}
.from-content button:hover, .from-content button:focus, .from-content button:active {
	color: white;
	background-color: #00a1de;
	border-color:#0094cc;
}
.from-content button:hover::before, .from-content button:focus::before, .from-content button:active::before {
	transform: scale(1);
}
.landing-bg {
	background-attachment: fixed;
	background-image: url("../images/landing-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.landing-content {
	display: flex;
	flex-wrap: wrap;
}
.landing-sec::after {
	border: 1px dashed #000;
	content: "";
	height: 367%;
	position: absolute;
	top: 100%;
	z-index: -1;
}
.landing-sec {
	background: #fff none repeat scroll 0 0;
	border: 1px dashed #606479;
	border-radius: 50%;
	float: left;
	padding: 10px 15px;
	text-align: center;
	width: 12.5%;
	position: relative;
}
.landing-sec::nth-child(4n+4) {
margin-top:200px;
}
.landing-sec img {
	margin: 0 auto;
}
.title {
	color: #FFF;
}
.title h4 {
	margin-bottom: 0;
	font-size: 24px;
}
.title h6 {
	margin-top: 5px;
	font-size: 13px;
}
.sidebar-toggle {
	display: none;
}
.skin-blue .main-header .user-menu a {
	padding: 25px;
}
.skin-blue .main-header .btn-amrut {
	background: #e8eff2 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #343434 !important;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px 8px;
}
.skin-blue .main-header .btn-amrut:hover {
	background: #e8eff2 none repeat scroll 0 0 !important;
}
.skin-blue .main-header .btn-amrut i {
	color: #ed8a19;
	font-size: 20px;
}
.search-bar {
	display: inline-block;
	width: 100%;
	background: #FFF;
	padding: 24px 10px;
}
.input-append .add-on, .input-prepend .add-on {
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	min-width: 16px;
	float: right;
	padding: 6px 0;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	width: auto;
	border: 0;
}
.form_datetime {
	margin: 0 20px;
	padding: 0 15px;
}
.form_datetime {
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0 20px;
}
.form_datetime input {
	min-width: 225px;
	border: 0;
	min-height: 38px;
}
.search-bar .form-group {
	margin: 0;
}
.custome-btn {
	margin: 0 20px;
	min-width: 195px;
}
.card-sec h2{ font-size: 25px;margin: 10px 0 0;padding-left: 15px; color:#555;}
.custome-btn select {
	border: 0;
	box-shadow: none;
	border: 1px solid #000;
	border-radius: 5px;
	min-height: 40px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
	position: relative;
	background: rgba(0, 0, 0, 0) url("../images/bwn-arrow.png") no-repeat scroll 95% 50%;
	text-transform: capitalize;
	text-indent: 0.01px;
	text-overflow: '';
}
.custome-btn select::-ms-expand { 
    display: none;
}  
.custome-btn select option {
	text-transform: capitalize;
}
.label-txt label {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 400;
	margin-bottom: 0;
}
.short-btn {
	min-width: 130px;
}
.card {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	display: table;
	float: left;
	margin: 6px 0.5%;
	width: 100%;
}
.card-panel {
	border-right: 1px dashed #a3a1a1;
	display: table-cell;
	padding: 30px 16px;
	vertical-align: middle;
	width:30%;
}
.card-panel:last-child {
	border: 0;
	width:70%;
	padding: 5px 0;
	text-align:center;
}
.card-panel strong {
	font-weight: 800;
	font-size: 16px;
	display: block;
}
.card-panel strong span{ font-weight: 400;margin-left: 5px;}
.card-panel p {
	font-weight: 500;
	font-size: 16px;
	color: #1a5a86;
	margin-bottom: 35px;
}
.card-panel p.code-p {
	font-size: 12px;
}
.card-panel button {
	background: #313131 none repeat scroll 0 0;
	border: 0 none;
	color: #fff;
	padding: 10px;
}
.value-sec {
	display: inline-block;
}
.value-sec span.green {
	background: #3c8a2e none repeat scroll 0 0;
	border-radius: 3px;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.value-sec p {
	display: inline-block;
	margin-bottom:5px;
}
.value-sec span.light {
	background: #c3c3c3 none repeat scroll 0 0;
	border-radius: 3px;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.value-sec span.deep-gry {
	background: #75787B none repeat scroll 0 0;
	border-radius: 3px;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.value-sec span.black{
	background: #000 none repeat scroll 0 0;
	border-radius: 3px;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.pai-chat {
	/* margin: 5px 0; */
	width:100%;
	display:inline-block;
}
.pai-chat img{ margin:0 auto;}
.card-bottom {
	margin: 30px 0;
}
.bottom-card:after {
	position: absolute;
	content: "";
	width: 100%;
}
.bottom-card {
	background:url("../images/card-back.png") no-repeat scroll 0 0 / 100% 100%;
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	padding: 25px;
	position: relative;
}
.bottom-card h3 {
	margin-top: 0;
	font-size: 22px;
}
.bottom-card p {
	font-size: 16px;
	color: #1a5a86;
}
.bottom-card button {
	border: 0;
	background: #00a1de;
}
.card-inner {
	border-radius: 5px;
	padding: 28px;
	margin-top: 25px;
}
.card-map {
	padding: 10px 15px;
	border-radius: 5px;
}
.card-map h5, .card-map img {
	float: left;
	line-height: 5px;
	margin-right: 5px;
}
button.btn-black {
	background-color: #313131;
	border: 0 none;
	border-radius: 5px;
	color: #fff;
	margin-right: 8px;
	text-transform: capitalize;
}
html .sidebar-mini.sidebar-collapse .treeview a span {
	display: block !important;
}
.form_datetime .date input {
	width: auto;
	box-shadow: none;
}
.form_datetime .date input:focus {
	width: auto;
}

.card-panel button {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    vertical-align: middle;
}
.card-panel button:hover, .card-panel button:active, .card-panel button:focus{background-color: #313131!important; color:#FFF!important; outline:none;}
.card-panel button::before {
    background: #DB291C none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition-duration: 0.3s;
    transition-property: left, right;
    transition-timing-function: ease-out;
    z-index: -1;
}
.card-panel button:hover::before, .card-panel button:focus::before, .card-panel button:active::before {
    left: 0;
    right: 0;	
}

.card-panel a {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    vertical-align: middle;
    padding:10px;
    border:0;
}
.card-panel a, .card-panel a:active, .card-panel a:hover, .card-panel a:focus{background-color: #313131!important; color:#FFF!important; outline:none;}

.card-panel a::before {
    background: #DB291C none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition-duration: 0.3s;
    transition-property: left, right;
    transition-timing-function: ease-out;
    z-index: -1;
}
.card-panel a:hover::before, .card-panel a:focus::before, .card-panel a:active::before {
    left: 0;
    right: 0;	
}


.bottom-card a {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    vertical-align: middle;
    padding:10px;
    border:0;
}
.bottom-card a, .bottom-card a:active{background-color: #313131!important; color:#FFF!important;}
.bottom-card a, .bottom-card a:active, .bottom-card a:hover, .bottom-card a:focus {background-color: #313131!important; color:#FFF!important; outline:none;}
.bottom-card a::before {
    background: #DB291C none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition-duration: 0.3s;
    transition-property: left, right;
    transition-timing-function: ease-out;
    z-index: -1;
}
.bottom-card a:hover::before, .bottom-card a:focus::before, .bottom-card a:active::before {
    left: 0;
    right: 0;	
}
.skin-blue .main-header .user-menu .user-footer a{ border: 0 none;display: inline-block;margin-bottom: 5px;padding: 7px 10px;text-align: left;width: 100%;}
.skin-blue .main-header .user-menu .user-footer a:last-child{ margin-bottom:0;}
.skin-blue .main-header .user-menu .user-footer a span{ float:left;}
.skin-blue .main-header .user-menu .user-footer a i{ float:right;}
.skin-blue .main-header .user-menu .user-footer a {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
.skin-blue .main-header .user-menu .user-footer a::before {
    background: #DB291C none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
.skin-blue .main-header .user-menu .user-footer a:hover, .skin-blue .main-header .user-menu .user-footer a:focus, .skin-blue .main-header .user-menu .user-footer a:active {
    color: white;
}
.skin-blue .main-header .user-menu .user-footer a:hover::before, .skin-blue .main-header .user-menu .user-footer a:focus::before, .skin-blue .main-header .user-menu .user-footer a:active::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.row-height {
    display: table;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.x_panel {
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #ecf5fc;
    box-shadow: none;
    margin-bottom: 14px;
	box-shadow: -7px 7px 8px -1px #afafaf;
	border-radius: 10px;
	padding: 30px;
	margin:20px 0;
}
.sidebar-mini .x_panel label{ text-align:left; padding-left:15px; margin-bottom:10px; font-size:15px;}
table.jambo_table thead {
    background: rgba(52, 73, 94, 0.94) none repeat scroll 0 0;
    color: #ecf0f1;
}

.LPCD-chart{ min-height:200px;}
.highcharts-axis-labels, .highcharts-label{ font-size:16px; font-family: 'Roboto', sans-serif !important;}
.highcharts-text-outline{    color: #000;stroke: rgba(0, 0, 0, 0.1);stroke-width: 0;fill: rgba(255, 255, 255, 0.1);text-shadow: none;}
.pai-chat g text {font-size: 11px;font-weight: 900;}
.pai-chat g text tspan{ font-size: 11px;font-weight: 900;}
.modal-fullscreen {
    min-width: 90%;
}
.modal-overflow{ overflow: hidden;
    overflow-X: scroll;}
.card-overflow{ width:100%;}

text.highcharts-credits { 
    display: none;
}

g.highcharts-button {
    display: none;
}

.sidebar-mini .x_panel label{ text-align:left; padding-left:15px; margin-bottom:10px; font-size:15px;}
table.jambo_table thead {
    background: rgba(52, 73, 94, 0.94) none repeat scroll 0 0;
    color: #ecf0f1;
}
.landing-back{ background:url(../images/landing-bg.jpg) no-repeat; background-size:cover; background-attachment:fixed;}
.x_content .form-horizontal .form-group{ margin-left:0; margin-right:0;}
.ln_solid {
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    color: #ffffff;
    height: 1px;
    margin: 20px 0;
 display: inline-block;
 width:100%;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right){
 position: static;
 width: auto;
}
.sidebar-menu li a:focus{
    text-decoration: none;
}
.dataTables_filter{ float:right;}
.custome-h2{ margin-bottom:20px; font-size:25px;}


/* Edited 29-11-2016 */
.form_datetime .date input, .form_datetime .date input:focus{
    width: 125px;
    min-width: 5px;
}
.form_datetime {
    margin: 0 15px 0 7px;
    padding: 0 5px;
}
.custome-btn {
    margin: 0 10px;
    min-width: 110px;
}
.form-control{
	padding: 6px 5px;
}
.radio label {
    padding-left: 0;
}
.radio input[type="radio"]:focus + label::before{
	outline:none;
}
.card{
    height: 290px;
}
.cardouter {
    display: inline-block;
    width: 100%;
}
.radio {
    padding-left: 25px;
}
.card-panel strong {
    font-size: 12px;
}
.card-panel a{
	font-size: 12px;
}
.custome-btn select{
	padding-right: 26px;
}
.card-map {
    padding: 0;
}
.card.card-map-legend{
	height: auto;
	padding: 10px 15px;
}
.card-box{
	background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 28px;
    overflow-y: auto;
    width: 100%;
    margin: 6px 0.5%;
    margin-top: 25px;
    
}

.custome-tab{ margin-top: 30px;padding: 0 20px; }
.custome-tab li a, .custome-tab li a:hover, .custome-tab li a:active{ background-color:#222d32; color:#FFF;}
div.daterangepicker .calendar{ max-width: 100%;}
.table-head{ width:100%;}
.thead{ background:#e8f5ff; color:#333; padding:0 5px; text-transform:uppercase;}
#bodyContent table{ border:1px solid #ccc; border-radius:5px;}
#bodyContent table tbody td{padding: 5px 10px;}
#bodyContent table tbody td.thead{ padding:0 10px;}
#bodyContent table tbody tr{ text-align:center;}
/* Edited 29-11-2016 */
/* Edited 30-11-2016 */
.data-entry{
	width: 100%;
}
.data-entry-circle{
	width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    border: 2px solid #000;
    font-size: 17px;
    font-weight: 700;
    border-radius: 50%;
    line-height: 46px;
    color: #000;
}
.data-entry-circle:hover{
    color: #000;
    text-decoration: none;
}
.data-entry-circle.green{
	border-color: #28B779;
}
.data-entry-circle.yellow{
	border-color: #FFB94A;
}
.data-entry-circle.red{
	border-color: #F74D4D;
}
.data-entry td{
	padding-bottom: 8px;
}
h6.databox-hdr{
	margin: 0 0 15px;
	font-weight: bold;
}
.data-entry tr:last-child td{
	padding-bottom: 0;
}
.card.card-h-a{
	height: auto;
}
h5.data-card-hdr{
	margin: 0 0 10px;
    padding: 0 0 14px;
    border-bottom: 1px solid #efefef;
}
.phy-infra-page .bottom-card h3{
	margin: 0 0 30px;
}
h2.phy-hdr{
    font-size: 25px;
    margin: 0 0 30px;
    padding-left: 15px;
}
#dateIp{position: relative;}
#dashboard_date{
width: 148px;
background: url('../images/calander-icon.png') 98% 48% no-repeat; cursor:pointer;}
#allLPCD .highcharts-plot-line-label tspan{ margin-left:20px;}
.sidebar-toggle{ background:#DB291C;}
/* / Edited 30-11-2016 */

/*----------------------------ERROR PAGE----------------------------------*/
.error-page{ background-color:#DB291C;}
.error-content {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.error-main {
    color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}
.error-main i{ font-size:700%; color:#FBD734;}
.error-main h1{ font-size:900%; margin:0; color:#FBD734;}
.error-main p{ font-size:200%; margin:0;}
.error-main span{ display:block; font-size: 17px;}
.error-main a{ border:1px solid #FBD734; padding:10px 20px; display:inline-block; margin-top:20px; font-size:110%; text-transform:capitalize; text-decoration:none; border-radius:3px;}
.error-main a {
    display: inline-block;
 text-shadow:none;
 color:#FFF;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
}
.error-main a::before {
    background: #FBD734 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
.error-main a:hover, .error-main a:focus, .error-main a:active {
    color: #666;
}
.error-main a:hover::before, .error-main a:focus::before, .error-main a:active::before {
    transform: scale(1);
}

/*----------------------------ERROR PAGE----------------------------------*/
.progressChart .highcharts-series-0 .highcharts-graph{
stroke: #00A3E0;
}

#add_date {
    width: 148px;
    background: url(../images/calander-icon.png) 98% 48% no-repeat;
    cursor:pointer;
}
.search-bar .search-sec {margin: 5px 0;}
.dataTables_filter label input{ margin-left:20px;}

table.table.dataTable.dtr-inline.collapsed td, table.table.dataTable.dtr-inline.collapsed th{
	display: table-cell !important;
}

#dueDate {
    width: 100%;
    background: url(../images/calander-icon.png) 98% 48% no-repeat;
    cursor: pointer;
}
.treeview span{min-width: auto !important;width: 100% !important; }
.report_date_icon {
    width: 148px;
    background: url(../images/calander-icon.png) 98% 48% no-repeat;
    cursor: pointer;
}
.graph-short
{
   /*  width: 500px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%); */
}
i.fa.fa-trash-o.delete_pointer {
    cursor: pointer;
}
#captcha_image{ margin-bottom: 10px;max-height: 55px;width: 100%;}
.white-field{background: #fff ;}
.captcha-div{display:inline-block; width:100%;text-align: center; position:relative;}
.captcha-div i{ position: absolute;right: 5px;top: 2px;}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span{ width: 100% !important;display: inline-block !important;
min-width: 100% !important;}
